.v-slider__thumb {
	background-color: transparent !important;
	width: 30px;
	border-radius: 0;
	height: 172px;
	position: absolute;
	pointer-events: all;
	transform: translateX(-50%) translateY(-50%);
	top: -75px;
	cursor: pointer;
	&:before {
		left: 11px;
		top: 0px;
		width: 10px;
		height: 172px;
		transform-origin: bottom;
		border-radius: 0;
		opacity: 0.1 !important;
		display: none;
	}
	&:after {
		content: "";
		background-color: rgb(165, 165, 165);
		border-radius: 2px;
		height: 22px;
		width: 10px;
		position: absolute;
		bottom: 0px;
		transform: translateX(110%);
	}
}

.v-slider__thumb-container--active,
.v-slider__thumb-container--hover {
	.v-slider__thumb:before {
		opacity: 0.3;
		transform: scale(1) !important;
	}
}

.v-slider__thumb-container--focused {
	.v-slider__thumb:before {
		opacity: 0;
		transform: scale(1) !important;
	}
}

.v-dialog::-webkit-scrollbar {
	width: 16px;
}

.v-dialog::-webkit-scrollbar-track {
	background: #1e1e1e;
	border-radius: 0 4px 4px 0;
}

.v-dialog::-webkit-scrollbar-thumb {
	background: #3e3e3e;
	border: solid 3px #202020;
	border-radius: 7px;
}

.v-dialog::-webkit-scrollbar-thumb:hover {
	background: rgba(255, 255, 255, 0.8);
}

.v-list-item.no-hover {
	cursor: default;
	&:before {
		display: none;
	}
}

.v-menu__content {
	left: initial;
}

.v-select__selection {
	display: none;
}

.v-overflow-btn .v-select__slot {
	height: 45px;
}
